*{
    font-family: "DynaPuff", system-ui;
}

body{
    margin: 0;
    padding: 10px;
    background-color: #A29BFE;
    box-sizing: border-box;
}

header{
    display: flex;
    min-height: 90px;
    padding: 5px;
    background-color: #FF6B6B;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
}

.nav-link {
    padding-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    transition: color, font-weight, 0.3s;
}

.nav-link:hover{
    color: #A43CA6;
    font-size: 18px;
}

section{
    margin-top: 20px;
}

.Seccion{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding: 40px;
    gap: 40px;
    align-items: flex-start;
    box-sizing: border-box;
}

.Seccion figure{
    width: 35%;
    flex-shrink: 0;
    margin: 0;
}

.Seccion figure img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.Seccion h3{
    margin: 0 0 20px 0;
    color: #333;
    font-size: 40px;
    width: 100%;
}

.Seccion .descripcion{
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin: 0;
    font-size: 20px;
}

.Boton{
    margin-top: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #4ECDC4;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.Boton:hover{
    background-color: #37448C;
    transform: scale(1.05);
}